.login-form {
  align-items: center;
}

.logo-text {
  color: #36A546;
}

.form-input {
  width: 100%;
  color: white;
  margin: 1.5rem;
  background: #1f1f1f;
  mix-blend-mode: normal;
  opacity: 1;
  border-radius: 1.25rem;
  box-shadow: 0 0 0 0.1875rem #1F191966;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.form-input:focus,
.form-input:active {
  background: #1f1f1f;
  color: white;
  box-shadow: 0 0 0 0.1875rem green;
}

.form-input::placeholder {
  color: white;
}

.login-button {
  width: 100%;
  color: white;
  margin: 1.5rem;
  background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  mix-blend-mode: normal;
  opacity: 1;
  border-radius: 1.25rem;
  outline: none;
  border: none;
}

.login-button:hover,.login-button:focus{
  background: transparent linear-gradient(180deg, #00ff26e0 0%, #000000 100%, #36a547a6 100%) 0% 0% no-repeat padding-box;
}

.forgot-password {
  width: 100%;
  margin: 1.5rem;
}

.forgot-password-link {
  color: #36A546;
  cursor: pointer;
}
